---
import {SITE_NAME, BRAND, LEGAL_CITY_WHERE, TIMER, MARQUEE} from '@/const.js';
import { LAST_DAY, MONTH, YEAR } from '@/js/utils/date';
import Layout from '@/layouts/Layout.astro';
import Banner from '@/components/Banner/Banner.astro';
import PageTitle from '@/components/PageTitle/Index.astro';
import Timer from '@/components/Timer/Timer.astro';
import ModelList from '@/components/Model/ModelList.astro';
import LatestPosts from '@/components/LatestPosts/Index.astro';
import Model from '@/components/Model/Model.astro';
import ModelComplectations from '@/components/Model/Complectations.astro';
import Callback from '@/components/Callback.astro';
import Services from '@/components/Services.astro';
import Contacts from '@/components/Contacts.astro';
import Morquee from '@/components/Marquee/Index.astro';
import models from '@/data/models.json';
import salonsData from '@/data/salons.json';
const salons = salonsData.filter(salon => !salon.type || salon.type.includes('index'));
const modelsWithComplectations = models.filter(m => (m?.complectations !== undefined && m?.complectations.length));
const salonsPhone = salons.map((salon: any) => salon.phone).filter(phone => phone).join(', ');
import SeoText from '@/components/Seo/Index.astro';

import InfoItem from '@/components/Info/Item.astro';
const infoItemClasses = "popup-link flex flex-col-reverse items-center justify-end gap-5 transition-all shadow-xl hover:shadow-lg font-medium xl:text-lg text-center p-4";
const infoItems = [
	{title: "Гарантия 5 лет!", icon: "mdi:car-clock", url: "#common-modal", iconClasses: "text-[#00c9bf] size-16"},
	{title: "Кредит от 0,01%<sup>**</sup>", icon: "mdi:sale", url: "#common-modal", iconClasses: "text-[#00c9bf] size-16"},
	{title: "Подарки от дилера", icon: "mdi:gift", url: "#common-modal", iconClasses: "text-[#00c9bf] size-16"},
	{title: "Выгода 10% корпоративным клиентам", icon: "mdi:ticket", url: "#common-modal", iconClasses: "text-[#00c9bf] size-16"},
];

---

<Layout title=`Купить ${BRAND} у официального дилера ${SITE_NAME}` description=`Забронируйте свой автомобиль прямо сейчас у официалоного дилера ${BRAND} в ${LEGAL_CITY_WHERE}! ☎️ ${salonsPhone}`>
	<Banner />
	<section>
		<div class="container">
			<div class="grid sm:grid-cols-2 lg:grid-cols-4 gap-6">
				{infoItems.map(item => ( <InfoItem item={item} classes={infoItemClasses} data-title="Получить спецпредложение" data-form_name={`Получить спецпредложение. ${item.title.replace(/<[^>]*>/g, '')}`} /> ))}
			</div>
		</div>
	</section>
	<Timer endtime=`${YEAR}.${MONTH}.17 23:59:59` title="Утвердите спецусловия только до 17 марта!" subtitle={TIMER.subtitle} btnName="Получить выгоду" class="bg-[url('/img/konkurenty.webp')] bg-cover bg-center bg-fixed text-white" />
	<LatestPosts collectionName="special-offers" title="Специальные предложения" id="specials" class="bg-gray-100" />
	<Callback bgUrl="/img/konkurenty.webp" />
	{models.length > 0 && models.filter(m => m.show).map(model => ( <Model model={model} /> ))}
	<SeoText mdx="index" />
	<Contacts mapImg="/img/map-bg.webp" title="Наши контакты" />
</Layout>
